{% extends 'master' %}

{% block title %}Kezdőlap{% endblock %}
{% block content %}
<div class="text-center">
  <h1> Köszöntelek a Társas-, Szerepjátékos Hétvége oldalán! </h1>
  <img src="images\page.png" > </img>
</div>

{% endblock %}
