{% extends 'master' %}

{% block title %}Kezdőlap{% endblock %}
{% block content %}
  <form action="{{ 'tarsas_list' | route }}" method="GET">
    <div class="input-group search-box">
      <input type="text" class="form-control" placeholder="Keresés..." name="tarsasName">
      <span class="input-group-btn">
        <button class="btn btn-info" type="submit">Mehet!</button>
      </span>
    </div>
  </form>
{% endblock %}
