.app-container {
  margin-top: 83px;
}

.search-box {
  margin-bottom: 20px;
}

.result-item .panel {
  background: #f8f5f0;
  color: #444;
}

.result-item:hover {
  text-decoration: none;
}

.result-item .panel:hover {
  background: #dfd7ca;
}
